<footer class='footer'>

    <ul class='footer-ul'>

        <a [routerLink]="['/legal-notice']" class='footer-ul-a'>

            <li class='footer-ul-li'>Mentions légales</li>

        </a>

        <a [routerLink]="['/cookies']" class='footer-ul-a'>

            <li class='footer-ul-li'>Cookies</li>

        </a>

        <a [routerLink]="['/privacy-policy']" class='footer-ul-a'>

            <li class='footer-ul-li'>Politique de confidentialité</li>

        </a>

        <a [routerLink]="['/contact']" class='footer-ul-a'>

            <li class='footer-ul-li'>Contact</li>

        </a>

    </ul>

</footer>
