<main class='main'>

    <button type='button' class='button-back' name='button-back' (click)='this.appService.handleClickBackButton($event)'>
        <img class='button-back-img' src='../../../assets/pictures/arrow-left-short.svg' />
    </button>


    <section class='section-legal-notice'>

        <h2 class='section-register-title'>Politique de confidentialité</h2>

        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>Introduction</span>

            <p class='section-legal-notice-div-p'>
                Bienvenue sur <strong>"Fais moi un prix"</strong>. La protection de vos données personnelles est une priorité pour nous. Cette politique de confidentialité explique comment nous collectons, utilisons, partageons et protégeons vos informations personnelles lorsque vous utilisez notre site.
            </p>

        </div>







        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>1. Informations que Nous Collectons</span>

            <p class='section-legal-notice-div-p'>
                Lorsque vous créez un compte sur notre site, nous collectons les informations personnelles suivantes:

                <br/>
                <br/>

                <strong>-Nom</strong>
                <br/>
                <strong>-Prénom</strong>
                <br/>
                <strong>-Courrier électronique</strong>
                <br/>
                <strong>-Téléphone</strong>

            </p>

        </div>









        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>2. Méthodes de Collecte des Données</span>

            <p class='section-legal-notice-div-p'>
                Nous collectons vos données personnelles de la manière suivante:

                <br />
                <br />

                <strong>-Formulaire d'inscription:</strong> Vous fournissez vos informations personnelles lors de la création de votre compte.

                <br />
                <br />

                <strong>-Cookies:</strong> Nous utilisons des cookies pour améliorer votre expérience sur notre site. Les cookies nous permettent de stocker des informations telles que vos préférences utilisateur et les messages lus ou non lus.

            </p>

        </div>









        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>3. Utilisation des Données Personnelles</span>

            <p class='section-legal-notice-div-p'>

                Les données personnelles que nous collectons sont utilisées pour:

                <br />
                <br />

                -La création et la gestion de votre compte.
                <br />
                <br />
                -La communication avec vous concernant votre compte et les services du Site.

            </p>

        </div>








        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>4. Partage des Données Personnelles</span>

            <p class='section-legal-notice-div-p'>

                Nous ne partageons pas vos données personnelles avec des tiers. Cependant, cette politique peut évoluer à l'avenir et nous vous informerons de tout changement concernant le partage des données.

            </p>

        </div>








        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>5. Stockage des Données</span>

            <p class='section-legal-notice-div-p'>

                Vos données personnelles sont stockées dans la base de données de notre serveur. Nous prenons des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé, toute modification, divulgation ou destruction de vos données.

            </p>

        </div>










        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>6. Droits des Utilisateurs</span>

            <p class='section-legal-notice-div-p'>

                Vous avez le droit d'accéder, de modifier ou de supprimer vos données personnelles à tout moment. Pour exercer ces droits, veuillez vous rendre sur la page <strong>Compte</strong> de notre Site.

            </p>

        </div>










        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>7. Utilisation des Cookies</span>

            <p class='section-legal-notice-div-p'>

                Nous utilisons des cookies pour:
                <br />
                <br />
                -Enregistrer vos préférences utilisateur.
                <br />
                <br />
                -Suivre les messages lus ou non lus pour améliorer votre expérience utilisateur.

            </p>

        </div>










        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>8. Modifications de la Politique de Confidentialité</span>

            <p class='section-legal-notice-div-p'>

                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page. Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour.

            </p>

        </div>








        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>9. Contact</span>

            <p class='section-legal-notice-div-p'>

                Pour toute question ou préoccupation concernant cette politique de confidentialité, veuillez nous contacter à EMAIL.

            </p>

        </div>






        <p class='section-legal-notice-p'>
            Cette politique de confidentialité a été rédigée pour vous informer de manière transparente sur la façon dont nous traitons vos données personnelles. Votre confiance est importante pour nous, et nous nous engageons à protéger votre vie privée.
        </p>






        


    </section>

</main>
