<app-loader></app-loader>

<main class='main'>

    <button type='button' class='button-back' name='button-back' (click)='this.appService.handleClickBackButton($event)'>
        <img class='button-back-img' src='../../../assets/pictures/arrow-left-short.svg' />
    </button>

    <section class='section-myaccount-product-edit'>

        <!-- MANAGE PRODUCT -->

        <h2 class='section-register-title edit'>Gérer mon produit</h2>



        

            <!-- if product has not expired -->

            <span *ngIf='!this.appService.productExpireBoolean' class='span-expire-product'>
                L'annonce expire dans: <strong>{{ this.appService.productDataExpireTime.day }}</strong> jours <strong>{{ this.appService.productDataExpireTime.hour }}</strong> heures <strong>{{ this.appService.productDataExpireTime.minute }}</strong> minutes et <strong>{{ this.appService.productDataExpireTime.second }}</strong> secondes.
            </span>

            



            <!-- if product has expired -->

            <span *ngIf='this.appService.productExpireBoolean' class='span-expire-product'>
                L'annonce a expiré, le délai de 14 jours est passé.
                <br />
                <br />
                Vous pouvez:
                <br />
                <br />
                -Renouveller votre annonce pour une durée de 14 jours supplémentaires.
                <br />
                <br />
                -Accepter une offre parmis celles qui vous ont été présentées.
            </span>


            <button *ngIf='this.appService.productExpireBoolean' type='submit' value='renew' class='button-renew-ad-product' attr.data-id-product="{{ this.product_id }}" (click)='handleClickRenewSeeButton($event)'>Renouveller</button>

            <!-- -->





            

            <!-- in all cases -->

            <button type='submit' value='see-offer' class='button-see-offer-product' attr.data-id-product="{{ this.product_id }}" (click)='handleClickRenewSeeButton($event)'>Voir mes offres</button>

            <!-- -->




        <!-- UPDATE PRODUCT -->

        <h2 class='section-register-title edit'>Modifier mon produit</h2>




        <div class='product-edit-div'>

            <form class='product-edit-form' name='product-edit-form' method='POST' (submit)='updateProduct($event)'>

                <span class='section-post-title-span'>Photos:</span>

                <section class='section-post-picture-insert-div'>
                    
                    <div class='section-post-picture-element'>
                        
                        <a *ngIf='productData[0] !== undefined && productData[0]["photo"]["photo_photo_list"] !== null && productData[0]["photo"]["photo_photo_list"].split(",")[0] !== undefined' class='anchor-input-file active' id='anchor-input-file-1' href='http://localhost:8000/uploads/pictures/{{ productData[0]["photo"]["photo_photo_list"].split(",")[0] }}' target='_blank'>
                        
                            <img src='http://localhost:8000/uploads/pictures/{{ productData[0]["photo"]["photo_photo_list"].split(",")[0] }}' class='section-post-picture-insert-element-img'/>

                        </a>

                        <a *ngIf='productData[0] !== undefined && (productData[0]["photo"]["photo_photo_list"] == null || productData[0]["photo"]["photo_photo_list"].split(",")[0] == undefined)' class='anchor-input-file' id='anchor-input-file-1' href='' target='_blank'>
                        
                            <img src='http://localhost:8000/pictures/no-image.svg' class='section-post-picture-insert-element-img no-image'/>

                        </a>

                        <button type='button' class='button-post-picture-cross' name='button-post-picture-cross' (click)='handleClickCrossPicture($event)'>X</button>
                        
                        <div class='add-picture-img-wrap-div'>
                            <img src='/assets/pictures/box-arrow-in-up.svg' class='add-picture-img' />
                            <label for='add-picture-input-file-1' class='add-picture-label'></label>


                            <input type='file' class='add-picture-input-file' name='add-picture-input-file-1' id='add-picture-input-file-1' (change)='handleChangeInputFile($event)' (click)='handleClickInputFile($event)'/>

                        </div>
        
                    </div>

                    <div class='section-post-picture-element'>
                        
                        <a *ngIf='productData[0] !== undefined && productData[0]["photo"]["photo_photo_list"] !== null && productData[0]["photo"]["photo_photo_list"].split(",")[1] !== undefined' class='anchor-input-file active' id='anchor-input-file-2' href='http://localhost:8000/uploads/pictures/{{ productData[0]["photo"]["photo_photo_list"].split(",")[1] }}' target='_blank'>
                        
                            <img src='http://localhost:8000/uploads/pictures/{{ productData[0]["photo"]["photo_photo_list"].split(",")[1] }}' class='section-post-picture-insert-element-img'/>

                        </a>

                        <a *ngIf='productData[0] !== undefined && (productData[0]["photo"]["photo_photo_list"] == null || productData[0]["photo"]["photo_photo_list"].split(",")[1] == undefined)' class='anchor-input-file' id='anchor-input-file-2' href='' target='_blank'>
                        
                            <img src='http://localhost:8000/pictures/no-image.svg' class='section-post-picture-insert-element-img no-image'/>

                        </a>

                        <button type='button' class='button-post-picture-cross' name='button-post-picture-cross' (click)='handleClickCrossPicture($event)'>X</button>

                        <div class='add-picture-img-wrap-div'>
                            <img src='/assets/pictures/box-arrow-in-up.svg' class='add-picture-img' />
                            <label for='add-picture-input-file-2' class='add-picture-label'></label>
                            <input type='file' class='add-picture-input-file' name='add-picture-input-file-2' id='add-picture-input-file-2' (change)='handleChangeInputFile($event)' (click)='handleClickInputFile($event)'/>
                        </div>
        
                    </div>

                    <div class='section-post-picture-element'>
                        
                        <a *ngIf='productData[0] !== undefined && productData[0]["photo"]["photo_photo_list"] !== null && productData[0]["photo"]["photo_photo_list"].split(",")[2] !== undefined' class='anchor-input-file active' id='anchor-input-file-3' href='http://localhost:8000/uploads/pictures/{{ productData[0]["photo"]["photo_photo_list"].split(",")[2] }}' target='_blank'>
                        
                            <img src='http://localhost:8000/uploads/pictures/{{ productData[0]["photo"]["photo_photo_list"].split(",")[2] }}' class='section-post-picture-insert-element-img'/>

                        </a>

                        <a *ngIf='productData[0] !== undefined && (productData[0]["photo"]["photo_photo_list"] == null || productData[0]["photo"]["photo_photo_list"].split(",")[2] == undefined)' class='anchor-input-file' id='anchor-input-file-3' href='' target='_blank'>
                        
                            <img src='http://localhost:8000/pictures/no-image.svg' class='section-post-picture-insert-element-img no-image'/>

                        </a>

                        <button type='button' class='button-post-picture-cross' name='button-post-picture-cross' (click)='handleClickCrossPicture($event)'>X</button>

                        <div class='add-picture-img-wrap-div'>
                            <img src='/assets/pictures/box-arrow-in-up.svg' class='add-picture-img' />
                            <label for='add-picture-input-file-3' class='add-picture-label'></label>
                            <input type='file' class='add-picture-input-file' name='add-picture-input-file-3' id='add-picture-input-file-3' (change)='handleChangeInputFile($event)' (click)='handleClickInputFile($event)'/>
                        </div>
        
                    </div>

                </section>


                <section *ngIf='productData[0] !== undefined' class='section-post-title-div'>

                    <span class='section-post-title-span'>Titre:</span>

                    <input type='text' class='section-post-title-input' id='section-post-title-input' name='section-post-title-input' placeholder='4 caractères minimum' (keyup)='this.appService.handleKeyUpInputLength($event)' value='{{ productData[0]["product"]["product_name"] }}'/>



                    <span class='section-post-title-span'>Catégorie:</span>

                    <select class='section-post-title-select-category' name='section-post-title-select-category' id='section-post-title-select-category'  (change)='this.appService.handleKeyUpInputLength($event)' >

                        <option value="-">-</option>
                        <option *ngFor='let category of this.appService.category' value='{{ category.id }}' [selected]='category.id == productData[0]["product"]["product_category_id"]'>{{ this.appService.translateCategory(category.name) }}</option>
        
                    </select>
                </section>




                <section *ngIf='productData[0] !== undefined' class='section-post-description-div' id='description'>



                    <span class='section-post-title-span'>Description:</span>
        
                    <textarea class='section-post-description-textarea' name='section-post-description-textarea'>{{ productData[0]["product"]["product_description"] }}</textarea>



                    <span class='section-post-title-span'>Ville:</span>
        
                    <input type='text' class='section-post-description-city-input' id='section-post-description-city-input' name='section-post-description-city-input' (keyup)='this.appService.handleKeyUpInputLength($event)' value='{{ productData[0]["product"]["product_city"] }}' />



                    <span class='section-post-title-span'>Code postal:</span>
        
                    <input type='number' class='section-post-description-zip-input' id='section-post-description-zip-input' name='section-post-description-zip-input' (keyup)='this.appService.handleKeyUpInputLength($event)' value='{{ productData[0]["product"]["product_zip"] }}' />




                    <span class='section-post-title-span'>Téléphone:</span>
        
                    <input type='number' class='section-post-description-phone-input' id='section-post-description-phone-input' name='section-post-description-phone-input' (keyup)='this.appService.handleKeyUpInputLength($event)' value='{{ productData[0]["product"]["product_phone"] }}'/>





                    <span class='section-post-title-span'>Email:</span>
        
                    <input type='email' class='section-post-description-email-input' id='section-post-description-email-input' name='section-post-description-email-input' (keyup)='this.appService.handleKeyUpInputLength($event)' value='{{ productData[0]["product"]["product_email"] }}'/>




        
                    <span class='section-post-title-span'>Je suis livrable?</span>
        
        
                    <div class='section-post-description-delivery-wrap'>
                        <div class='section-post-description-delivery-wrap-label-input'>
                            <label for='section-post-description-delivery-yes' class='section-post-description-delivery-label'>Oui</label>
                            <input type='radio' class='section-post-description-delivery' id='section-post-description-delivery-yes' name='section-post-description-delivery' [checked]='productData[0]["product"]["product_delivery"] == "true"' />
                        </div>
        
        
        
                        <div class='section-post-description-delivery-wrap-label-input'>
                            <label for='section-post-description-delivery-no' class='section-post-description-delivery-label'>Non</label>
                            <input type='radio' class='section-post-description-delivery' id='section-post-description-delivery-no' name='section-post-description-delivery' [checked]='productData[0]["product"]["product_delivery"] == "false"' />
                        </div>
                    </div>




                    <span class='section-post-title-span myaccount'>Prix de départ:</span>

                    <div class='section-post-offer-input-wrap'>

                        <input *ngIf='productData[0]["offer"].slice(-1)[0]["offer_offerprice"] == null' type='number' class='section-post-offer-input' name='section-post-offer-input' id='section-post-offer-input' placeholder='Facultatif' value='0'/>

                        <input *ngIf='productData[0]["offer"].slice(-1)[0]["offer_offerprice"] !== null' type='number' class='section-post-offer-input' name='section-post-offer-input' id='section-post-offer-input' placeholder='Facultatif' value='{{ productData[0]["offer"].slice(-1)[0]["offer_offerprice"] }}' />

                        <img src='/assets/pictures/currency-euro.svg' class='img-currency-euro' />
                    </div>
        
                </section>


                <button type='submit' class='button-edit-product' name='button-edit-product'>Modifier les données du produit</button>
            
            </form>

        </div>





        <!-- REMOVE PRODUCT -->

        <h2 class='section-register-title edit'>Supprimer mon produit</h2>


        <div class='product-edit-delete-div'>

            <form class='product-edit-delete-form' name='product-edit-delete-form' method='POST' (submit)='handleSubmitDeleteProduct($event)'>

                <button type='submit' class='button-edit-product-delete' name='button-edit-product-delete'>Supprimer</button>

            </form>

        </div>

    </section>

</main>
