<main class='main'>

    <button type='button' class='button-back' name='button-back' (click)='this.appService.handleClickBackButton($event)'>
        <img class='button-back-img' src='../../../assets/pictures/arrow-left-short.svg' />
    </button>


    <section class='section-legal-notice'>

        <h2 class='section-register-title'>Gestion des cookies</h2>

        <div class='section-legal-notice-div'>

            <p class='section-legal-notice-div-p'>

                Bienvenue sur notre <strong>Fais moi un prix</strong> ! Nous utilisons des cookies pour améliorer votre expérience utilisateur et pour le bon fonctionnement de notre plateforme. Cette politique explique comment et pourquoi nous utilisons des cookies sur notre site, qui permet aux utilisateurs de déposer des produits et de recevoir des offres de prix de la part d'autres utilisateurs.

            </p>

        </div>







        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>Qu'est-ce qu'un cookie ?</span>

            <p class='section-legal-notice-div-p'>

                Un cookie est un petit fichier texte placé sur votre appareil (ordinateur, tablette, smartphone) lorsque vous visitez notre site. Les cookies nous permettent de reconnaître votre appareil et de stocker certaines informations sur vos préférences ou vos actions passées.

            </p>

        </div>








        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>Pourquoi utilisons-nous des cookies ?</span>

            <p class='section-legal-notice-div-p'>

                Nous utilisons des cookies pour plusieurs raisons :
                
            </p>





            <span class='section-legal-notice-div-span'>Authentification et Sécurité</span>

            <p class='section-legal-notice-div-p'>

                Les cookies sont utilisés pour vous identifier de manière sécurisée lorsque vous vous connectez à votre compte, ce qui nous permet de vous offrir une expérience personnalisée et de protéger vos informations personnelles.
                
            </p>





            <span class='section-legal-notice-div-span'>Gestion des Messages</span>

            <p class='section-legal-notice-div-p'>

                Nous utilisons des cookies pour gérer les messages entrants et sortants, afin de mettre à jour l'interface de notre site en temps réel et d'assurer une communication fluide entre les utilisateurs.

            </p>






            <span class='section-legal-notice-div-span'>Amélioration de l'Expérience Utilisateur</span>

            <p class='section-legal-notice-div-p'>

                Les cookies nous aident à comprendre comment vous utilisez notre site et à améliorer nos services en fonction de vos besoins et préférences.

            </p>






            <span class='section-legal-notice-div-span'>Autres Utilisations</span>

            <p class='section-legal-notice-div-p'>

                Nous pouvons être amenés à utiliser des cookies à d'autres fins qui ne sont pas encore établies. Nous vous informerons de toute mise à jour de cette politique à ce sujet.

            </p>






        </div>







        <div class='section-legal-notice-div'>

            <span class='section-legal-notice-div-span'>Mise à jour de notre Politique de Cookies</span>

            <p class='section-legal-notice-div-p'>

                Nous pouvons être amenés à mettre à jour cette politique de cookies pour refléter des changements dans nos pratiques ou pour d'autres raisons opérationnelles, légales ou réglementaires. Nous vous encourageons à consulter régulièrement cette page pour rester informé de notre utilisation des cookies et des technologies associées.

            </p>

        </div>











        <div class='section-legal-notice-div'>

            <span class='section-legal-notice-div-span'>Contact</span>

            <p class='section-legal-notice-div-p'>

                Si vous avez des questions ou des préoccupations concernant notre utilisation des cookies, n'hésitez pas à nous contacter à EMAIL.

                Merci de votre confiance et de votre compréhension.

            </p>

        </div>

    </section>

</main>