<main class='main'>

    <button type='button' class='button-back' name='button-back' (click)='this.appService.handleClickBackButton($event)'>
        <img class='button-back-img' src='../../../assets/pictures/arrow-left-short.svg' />
    </button>


    <section class='section-legal-notice'>

        <h2 class='section-register-title'>Mentions légales</h2>

        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>1. Informations Générales</span>

            <p class='section-legal-notice-div-p'>
                Le présent site web <strong>Fais moi un prix</strong> est édité par :
                <br/>
                <br />
                -Raison sociale: ''
                <br/>
                -Siège social: ''
                <br/>
                -SIRET: ''
                <br/>
                -Numéro de TVA intra-communautaire: ''
                <br/>
                -Email: ''
                <br/>
                -Téléphone: ''
                <br/>
                <br />
                Le directeur de la publication est '', en qualité de directeur.
            </p>

        </div>








        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>2. Hébergement</span>

            <p class='section-legal-notice-div-p'>
                Le site est hébergé par:
                <br/>
                <br />
                -Hébergeur: ''
                <br/>
                -Adresse: ''
                <br/>
                -Téléphone: ''
            </p>

        </div>









        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>3. Objet du site</span>

            <p class='section-legal-notice-div-p'>
                Le site a pour objet de permettre aux utilisateurs de mettre en ligne des produits et de recevoir des offres d'achat. Le propriétaire du produit détient le pouvoir de décision concernant l'acceptation de l'offre ou son refus.
            </p>

        </div>









        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>4. Conditions d'Utilisation</span>

            <p class='section-legal-notice-div-p'>
                L'utilisation du site est soumise à l'acceptation des présentes mentions légales. En accédant au site, vous acceptez de vous conformer à ces termes.
            </p>

        </div>









        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>5. Propriété intellectuelle</span>

            <p class='section-legal-notice-div-p'>
                Tous les éléments présents sur le Site (textes, images, graphismes, logo, icônes, etc.) sont la propriété de "Fais moi un prix" ou de ses partenaires et sont protégés par les lois en vigueur sur la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de <strong>Fais moi un prix</strong>.
            </p>

        </div>









        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>6. Protection des Données Personnelles</span>

            <p class='section-legal-notice-div-p'>
                <strong>Fais moi un prix</strong> s'engage à ce que la collecte et le traitement de vos données, effectués à partir du Site, soient conformes au <strong>Règlement Général sur la Protection des Données (RGPD)</strong>. Vous disposez d'un droit d'accès, de rectification, d'opposition, de suppression, de limitation et de portabilité de vos données personnelles, que vous pouvez exercer en nous contactant à "EMAIL".
            </p>

        </div>










        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>7. Limitation de Responsabilité</span>

            <p class='section-legal-notice-div-p'>
                <strong>Fais moi un prix</strong> ne saurait être tenue responsable des dommages directs ou indirects causés au matériel de l’utilisateur, lors de l’accès au site, résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées, soit de l’apparition d’un bug ou d’une incompatibilité.
            </p>

        </div>










        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>8. Droit Applicable et Attribution de Juridiction</span>

            <p class='section-legal-notice-div-p'>
                Tout litige en relation avec l’utilisation du site est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de "VILLE".
            </p>

        </div>










        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>9. Modification des Mentions Légales</span>

            <p class='section-legal-notice-div-p'>
                <strong>Fais moi un prix</strong> se réserve le droit de modifier les présentes mentions légales à tout moment. L’utilisateur s’engage donc à les consulter régulièrement.
            </p>

        </div>

    </section>

</main>
