<main class='main'>

    <button type='button' class='button-back' name='button-back' (click)='this.appService.handleClickBackButton($event)'>
        <img class='button-back-img' src='../../../assets/pictures/arrow-left-short.svg' />
    </button>


    <section class='section-legal-notice'>

        <h2 class='section-register-title'>Mentions légales</h2>

        <div class='section-legal-notice-div'>
            
            <span class='section-legal-notice-div-span'>1. Informations Générales</span>

            <p class='section-legal-notice-div-p'>
                Le présent site web "Fais moi un prix" est édité par :
                <br/>

                Raison sociale : ''
                <br/>
                Siège social : ''
                <br/>
                SIRET : ''
                <br/>
                Numéro de TVA intra-communautaire : ''
                <br/>
                Email : ''
                <br/>
                Téléphone : ''
                <br/>
                Le directeur de la publication est '', en qualité de directeur.
            </p>

        </div>

    </section>






</main>
